﻿body {
    background: rgb(41,43,48);
}

.h1-login {
    text-align: center;
    padding: 13px 0 9px 0;
    color: snow;
    font: normal small-caps 47px/28px Marker Felt;
}

.content {
    padding-top: 67px;
    min-height: 400px;
    height: calc(100vh - 187px);
    background: rgb(41,43,48);
}

.container-for-buttons {
    background-color: rgb(41,43,48);
    width: 500px;
    height: 340px;
    margin: auto;
    border-radius: 10px;
}

.button-sign-in, .button-sign-up {
    display: block;
    height: 75px;
    width: 340px;
    margin: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: snow;
    font: normal small-caps 47px/28px Marker Felt;
    background: rgb(153,84,38);
    margin-bottom: 10px;
}

    .button-sign-in:hover {
        box-shadow: black 8px 12px 32px;
    }

    .button-sign-up:hover {
        box-shadow: black 8px 12px 32px;
    }

.sigin-form-label, .signup-form-label {
    text-align: center;
    padding-bottom: 5px;
}
