@using Entities
@using Achievements.BLL
@using Achievements.DependencyResolver
@using Ninject

@{
    Layout = null;
    var userLogic = Achievements.DependencyResolver.DependencyResolver.Kernel.Get<IUserLogic>();
}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>AchievementsAndUsers</title>
    <link href="~/Styles/Default.css" rel="stylesheet" />
</head>

<body>
    <div>

        <header>
            @RenderSection("Header")

            <h1 class="h1-title">Achievements And Users</h1>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/Index.cshtml" class="login-element">@User.Identity.Name</a>
            }
            else
            {
                <a href="~/Pages/Login/Authorization" class="login-element">Login</a>
            }
        </header>

        <div class="content">

            <div class="content-conteiner">
                <a href="~/Pages/Login/Logout.cshtml" class="menu-element">Logout</a>
                <a href="~/Pages/AddAchievement.cshtml" class="menu-element">Add</a>
                <a href="~/Pages/ShowAllAchievements.cshtml" class="menu-element">Show All</a>
                <a href="~/Pages/GiveAchievement.cshtml" class="menu-element">Give</a>
                <a href="~/Pages/SearchAchievements.cshtml" class="menu-element">Search</a>
                <a href="~/Pages/UserList.cshtml" class="menu-element">User List</a>
            </div>

            <div class="usability-content">
                @RenderBody()
            </div>

        </div>
</body>
</html>
