@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign In - Error</title>
    <link href="~/Views/Styles/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="container-for-buttons">

            <h1 class="h1-login">Error! Username or password are invalid.</h1>

            <form action="~/Views/Pages/Login/SignIn.cshtml">
                <button type="submit" class="button-sign-in">Sign In</button>
            </form>

            <form action="~/Views/Pages/Login/SignUp.cshtml" method="post" enctype="multipart/form-data">
                <button type="submit" class="button-sign-up">Sign Up</button>
            </form>

        </div>
    </div>
</body>
</html>
