@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up Success</title>
    <link href="~/Styles/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="container-for-buttons">

            <h1 class="h1-login">Sign Up Success</h1>

            <form action="~/Views/Pages/Login/SignIn.cshtml">
                <button type="submit" class="button-sign-in">Return to Sign In</button>
            </form>

        </div>
    </div>
</body>
</html>
