@using Entities
@using Achievements.BLL
@using Achievements.DependencyResolver
@using Ninject
@{

    Layout = "~/Layouts/Default.cshtml";
    var userLogic = DependencyResolver.Kernel.Get<IUserLogic>();
}
@section Header{}
<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <h1 class="h1-title"> To see users please log in!</h1>

    }
    else
    {
        foreach (User item in userLogic.GetAll())
        {
            <div class="file-row">

                @item.id
                |
                @item.login

            </div>
        }
    }
</body>