@using Entities
@using Achievements.BLL
@using Achievements.DependencyResolver
@using Ninject
@{
    Layout = "~/Views/Layouts/Default.cshtml";
}
@section Header{}
<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <h1 class="h1-title">To give user achievement please log in!</h1>
    }
    else
    {
        <form action="~/Views/Pages/GiveLogic/Give.cshtml" method="post" enctype="multipart/form-data">

            <input type="hidden" name="Action" value="Give" />

            <label class="signin-form-label">Enter Achievement Id</label>
            <input required maxlength="30" minlength="1" class="signin-form-input" type="number" id="achievment" name="AchievementId" value="" placeholder="Id" />

            <label class="signin-form-label">Enter User Id</label>
            <input required maxlength="100" minlength="1" class="signin-form-input" type="number" id="user" name="UserId" value="" placeholder="Id" />


            <button type="submit" class="button-sign-in">Add</button>
        </form>
    }
</body>
